body, html {
    margin: 5px;
    padding: 0px;
    height: 100%;
}
#viewDiv {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    flex-grow: 1;
    height: 100vh; 
}

#filterContainer select {
    width: 100%;
}

#filterContainer {
    width: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: auto;
}
.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #2e55a5
}
.main-header{
    width: 70%; 
    color: white;
}
.main-header > p {
    margin-left: 15px;
}
.main-header > h2 {
    margin-left: 15px;
}

.logos{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 29.5%;
    gap: 15px;
    margin-right: .5%;
}

.controls {
    display: flex;
    gap: 20px;
    flex-wrap: wrap
}

/* Media query to hide .logos on small screens */
@media (max-width: 768px) {
    .logos {
    display: none;
    }
    .main-header {
        width: 100%;
    }
}